body {
    width: 100vw;
    height: auto;
    font-family: "Quantico", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}

/* DropDown Css */

.dropdown:hover>.dropdown-menu {
    display: block;
    margin-left: .125em;
}

.nav-item:hover,
.dropdown-item:hover {
    background-color: #d1d1d1;
    border-radius: 0.6rem;
    transition: 0.3s ease-in-out;
}

/* DropDown Css */

.nav {
    background-color: #f3f3f3;
    box-shadow: 0 10px 4px rgba(0, 0, 0, .08), 0 10px 12px rgba(0, 0, 0, .08);
    z-index: 1;

}



.upper-head {
    height: 50px;
    text-align: center;
    background-color: rgb(78, 78, 168);

}


.upper-head h2 {
    font-size: clamp(0.6rem, 1vw, 2rem);
    color: white;
    padding: 0.8rem;


}



.learning {
    width: 20rem;
    max-width: fit-content;
    position: absolute;
    top: 20vw;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 1rem;
    background-color: #d0d0d0;
}

.banner .learning h1 {
    font-size: clamp(1rem, 1vw, 1rem);
    font-weight: bold;

}

.banner .learning p {
    font-size: clamp(0.2rem, 1vw, 1rem);
}

.banner-image img{
 width: 100%;
}
/* banner card responsiveness */
@media only screen and (min-width: 2000px) and (max-width:7776px) {
.learning {
        display: none;
    }

    .row .cards-container {
        position: absolute;
        bottom: 20rem;
    }

}

@media only screen and (min-width: 0px) and (max-width:900px) {

    /* banner card responsiveness */
    .banner .learning {
        display: none;
        background: none;

    }


}

.companies {
    width: 100%;
    height: 10rem;
    background-color: #f3f3f3;
    position: relative;
   top: 2rem;

}

.companies h4 {
    text-align: center;
    font-weight: 300;
    font-size: 1rem;
    margin: 1rem;
}

.companies img {

    mix-blend-mode: multiply;
}

.companies-logos {
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 1rem;

}

.python-box{
    position: relative;
    top: 4rem;
}
.python-box .btn {
    width: 10rem;
    height: 2.5rem;
   border: 1.5px solid #d0d0d0;
    color: rgb(0, 0, 0);

 

}

.python-box a {
    text-decoration: none;
}

.python-box .btn:hover {
    background-color: rgb(200, 197, 197);
    color: black;
    transition: 0.5s ease-in-out;
}
.cards-border {

    border: 1px solid black;
}
.row .cards-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
    top: 10rem;
    cursor: pointer;
}

.card{
    border: 2px solid #888888;
    box-shadow: 0 10px 4px rgba(0, 0, 0, .08), 0 10px 12px rgba(0, 0, 0, .08); ;
    padding: 1rem;
    margin: 1rem;
}

.card:hover {
    background-color: #d1d1d1;
    transition: 0.2s ease-in-out;
}



.teacher-section {
    width: 100%;
    background-color: #ffffff;
    margin-top: 15rem;
    display: flex;
    justify-content: center;



}
.teacher-section h2{
    font-size: clamp(1.5rem,1vw,1.5rem);
}
.teacher-section h4{
    font-size: clamp(0.8rem,1vw,1.5rem);
}

.teacher-section img {
    width: 33%;
}

.teacher-section-2 .btn {

    width: 5rem;
    height: 2rem;
   
    font-size: clamp(0.5rem, 1vw, 1rem);
    border: 1.5px solid #d0d0d0;
    color: rgb(0, 0, 0);
    text-align: center;

}

.teacher-section-2 .btn:hover {
    background-color: rgb(200, 197, 197);
    color: black;
    transition: 0.4s ease-in-out;
}


footer{
    width: 100%;
   height: auto;
    background-color: #f3f3f3;
    padding: 1rem;
    position: relative;
    top: 12rem;

}
footer .h3-bef{
    color: black;
    font-weight: bold;
    font-size: clamp(0.8rem, 2vw, 3rem);

}
.footer-links{
    color: black;
font-size: clamp(0.5rem,1vw,1.5rem);
}
.footer-links:hover{
    background-color: #d1d1d1;
    border-radius: 1rem;
    transition: 0.2s ease-in-out;
}

.icons{
    font-size: clamp(0.5rem, 1vw, 1.5rem) 
}

.icons a{
    text-decoration: none;
    color: black;
    padding: 0.5rem;
}

.icons a:hover{
    color:#888888 ;
    transition: 0.3s ease-in;
}