
body {
    width: 100vw;
    height: auto;
    font-family: "Quantico", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* DropDown Css */

.dropdown:hover>.dropdown-menu {
    display: block;
    margin-left: .125em;
}

.nav-item:hover,
.dropdown-item:hover {
    background-color: #d1d1d1;
    border-radius: 0.6rem;
    transition: 0.3s ease-in-out;
}

/* DropDown Css */

.nav {
    background-color: #f3f3f3;
    box-shadow: 0 10px 4px rgba(0, 0, 0, .08), 0 10px 12px rgba(0, 0, 0, .08);
    ;

}


.text-card{
    background-color: rgb(0, 0, 0);
    color: white;
}
h3{
    font-size: clamp(1.2rem,1.5vw,3rem);

}

.skills-potential{
position: relative;
top: 3rem;
}

.skills-potential p{
   font-size: clamp(0.5rem, 1vw, 1.5rem);
}

.global-catalog{
    width: 100%;
    height: 20rem;
    background-color: rgb(0, 0, 0);
    color: white;
    position: relative;
    top: 5rem;
}
.global-catalog h3{
    font-size: clamp(0.8rem, 1vw, 3rem);
}
.global-catalog p{
   font-size: clamp(0.5rem, 1vw, 0.8rem);
    width: 25rem;
    display: block;
    margin: 2px auto;
}
.catalog-content{
padding: 2rem;
position: relative;
bottom: 2rem;
}
.catalog-content h4{
    font-size: clamp(0.5rem, 1vw, 0.8rem);
}

.brief{
    width: 100%;
    background-color: rgb(252, 252, 252);
}

.brief .card-brief{
    width: 30rem;
   height: auto;
    border: none;
    border-top: 9px solid darkblue;
    text-align: start;
    cursor: pointer;

}
.brief .card-brief p {
    font-size: clamp(0.8rem, 1vw, 1.5rem);
}


footer{
    width: 100%;
   height: auto;
    background-color: #f3f3f3;
    padding: 1rem;
    position: relative;
    top: 12rem;

}
.h3-bef{
    color: black;
}
.footer-links{
    color: black;
font-size: clamp(0.5rem,1vw,1.5rem);
}
.footer-links:hover{
    background-color: #d1d1d1;
    border-radius: 1rem;
    transition: 0.2s ease-in-out;
}

.icons{
    font-size: clamp(0.5rem, 1vw, 1.5rem) 
}

.icons a{
    text-decoration: none;
    color: black;
    padding: 1rem;
}

.icons a:hover{
    color:#888888 ;
    transition: 0.3s ease-in;
}
